# --------------------------------------------------------------
# Basic oCIS
# --------------------------------------------------------------
OCIS_DOMAIN=owncloud.phoenix-rtp.com
OCIS_IMAGE=owncloud/ocis:8.2.0
OCIS_LOG_LEVEL=info
OCIS_LOG_PRETTY=false
OCIS_INSECURE=false
OCIS_REVA_GATEWAY=com.owncloud.api.gateway
# --------------------------------------------------------------
# Authentication
# --------------------------------------------------------------
IDM_CREATE_DEMO_USERS=false

ADMIN_PASSWORD=***
OCIS_JWT_SECRET=***
# --------------------------------------------------------------
# Additional Services
# --------------------------------------------------------------
START_ADDITIONAL_SERVICES=notifications
# --------------------------------------------------------------
# SMTP
# --------------------------------------------------------------
SMTP_HOST=
SMTP_PORT=
SMTP_SENDER=noreply@phoenix-rtp.com
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=
SMTP_INSECURE=false
# ==============================================================
# FUTURE STAGES
# ==============================================================
#COLLABORA_IMAGE=collabora/code:25.04.9.3.1
#COLLABORATION_WOPI_SECRET=***
#COLLABORA_ADMIN_USERNAME=***
#COLLABORA_ADMIN_PASSWORD=***
#COMPANION_ONEDRIVE_KEY=***
#COMPANION_ONEDRIVE_SECRET=***