# ==============================================================
# OWNCloud Infinite Scale 8.2.0
# ==============================================================
OCIS_DOMAIN=owncloud.phoenix-rtp.com
OCIS_IMAGE=owncloud/ocis:8.2.0
OCIS_LOG_LEVEL=info
OCIS_LOG_PRETTY=false
OCIS_INSECURE=false
OCIS_REVA_GATEWAY=com.owncloud.api.gateway
START_ADDITIONAL_SERVICES=
IDM_CREATE_DEMO_USERS=false

ADMIN_PASSWORD=***
OCIS_JWT_SECRET=***

#COLLABORATION_WOPI_SECRET=***
#SMTP_HOST=
#SMTP_PORT=
#SMTP_SENDER=
#SMTP_USERNAME=
#SMTP_INSECURE=false
#COLLABORA_IMAGE=collabora/code:25.04.7.3.1
#COLLABORA_ADMIN_USERNAME=***
#COLLABORA_ADMIN_PASSWORD=***
#COMPANION_ONEDRIVE_KEY=***
#COMPANION_ONEDRIVE_SECRET=***